apiVersion: apps/v1
kind: Deployment
metadata:
  name: kuberoot-backend
  namespace: kuberoot
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kuberoot-backend
  template:
    metadata:
      labels:
        app: kuberoot-backend
    spec:
      containers:
        - name: backend
          image: kuberoot-backend:local
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: kuberoot-backend-secret
                  key: DATABASE_URL
            - name: KUBEROOT_CLUSTER_ID
              value: "acme-staging-eks"
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
